* {
	margin: 0;
	padding: 0;
}

#list {
	overflow: auto;
	height: 70vh;
}

#list :last-child {
	border-bottom: none;
}

.panel {
	width: 50%;
	margin: auto;
	margin-left: 25%;
	margin-top: 1em;
}

.level {
	border-bottom: 1px solid #aae;
	padding-bottom: .5em;
}

.panel-heading {
	background-color: #fff;
}